@{
    ViewBag.Title = "Home Page";
}
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

<style type="text/css" class="cp-pen-styles">
    *, *:before, *:after {
        box-sizing: border-box;
    }

    body {
        background: #C5DDEB;
        font: 14px/20px "Lato", Arial, sans-serif;
        padding: 40px 0;
        color: white;
    }

    .container {
        margin: 0 auto;
        width: 1010px;
        background: #444753;
        border-radius: 5px;
    }

    .people-list {
        width: 260px;
        float: left;
    }

        .people-list .search {
            padding: 20px;
        }

        .people-list input {
            border-radius: 3px;
            border: none;
            padding: 14px;
            color: white;
            background: #6A6C75;
            width: 90%;
            font-size: 14px;
        }

        .people-list .fa-search {
            position: relative;
            left: -25px;
        }

        .people-list ul {
            padding: 20px;
            height: 770px;
        }

            .people-list ul li {
                padding-bottom: 20px;
            }

        .people-list img {
            float: left;
        }

        .people-list .about {
            float: left;
            margin-top: 8px;
        }

        .people-list .about {
            padding-left: 8px;
        }

        .people-list .status {
            color: #92959E;
        }

    .chat {
        width: 490px;
        float: left;
        background: #F2F5F8;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #434651;
    }

        .chat .chat-header {
            padding: 20px;
            border-bottom: 2px solid white;
        }

            .chat .chat-header img {
                float: left;
            }

            .chat .chat-header .chat-about {
                float: left;
                padding-left: 10px;
                margin-top: 6px;
            }

            .chat .chat-header .chat-with {
                font-weight: bold;
                font-size: 16px;
            }

            .chat .chat-header .chat-num-messages {
                color: #92959E;
            }

            .chat .chat-header .fa-star {
                float: right;
                color: #D8DADF;
                font-size: 20px;
                margin-top: 12px;
            }

        .chat .chat-history {
            padding: 30px 30px 20px;
            border-bottom: 2px solid white;
            overflow-y: scroll;
            height: 575px;
        }

            .chat .chat-history .message-data {
                margin-bottom: 15px;
            }

            .chat .chat-history .message-data-time {
                color: #a8aab1;
                padding-left: 6px;
            }

            .chat .chat-history .message {
                color: white;
                padding: 18px 20px;
                line-height: 26px;
                font-size: 16px;
                border-radius: 7px;
                margin-bottom: 30px;
                width: 90%;
                position: relative;
            }

                .chat .chat-history .message:after {
                    bottom: 100%;
                    left: 7%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-bottom-color: #86BB71;
                    border-width: 10px;
                    margin-left: -10px;
                }

            .chat .chat-history .my-message {
                background: #86BB71;
            }

            .chat .chat-history .other-message {
                background: #94C2ED;
            }

                .chat .chat-history .other-message:after {
                    border-bottom-color: #94C2ED;
                    left: 93%;
                }

        .chat .chat-message {
            padding: 30px;
        }

            .chat .chat-message textarea {
                width: 100%;
                border: none;
                padding: 10px 20px;
                font: 14px/22px "Lato", Arial, sans-serif;
                margin-bottom: 10px;
                border-radius: 5px;
                resize: none;
            }

            .chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
                font-size: 16px;
                color: gray;
                cursor: pointer;
            }

            .chat .chat-message button {
                float: right;
                color: #94C2ED;
                font-size: 16px;
                text-transform: uppercase;
                border: none;
                cursor: pointer;
                font-weight: bold;
                background: #F2F5F8;
            }

                .chat .chat-message button:hover {
                    color: #75b1e8;
                }

    .online, .offline, .me {
        margin-right: 3px;
        font-size: 10px;
    }

    .online {
        color: #86BB71;
    }

    .offline {
        color: #E38968;
    }

    .me {
        color: #94C2ED;
    }

    .align-left {
        text-align: left;
    }

    .align-right {
        text-align: right;
    }

    .float-right {
        float: right;
    }

    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
</style>
<div class="container clearfix">
    <!-- 当前活动的聊天频道-->
    <div class="people-list" id="people-list">
        <div class="search">
            <input type="text" placeholder="查找活动聊天频道" />
            <i class="fa fa-search"></i>
        </div>
        <!--左侧头像组-->
        <ul class="list" id="leftbookmarks">

            <left-bookmark 
                           v-for="item in leftUserList"
                           :headimg="item.headImg"
                           :username="item.userName"
                           :onlinestatus="item.onlineStatus">
            </left-bookmark>

        </ul>
        <!--左侧头像组结束-->
    </div>
    <!--当前活动的聊天频道结束 -->

    <div class="chat" id="chat-message">
        <!--聊天顶部头像-->
        <div class="chat-header clearfix">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />

            <div class="chat-about">
                <div class="chat-with">Chat with Vincent Porter</div>
                <div class="chat-num-messages">already 1 902 messages</div>
            </div>
            <i class="fa fa-star"></i>
        </div> <!-- end chat-header -->
        <!--聊天顶部头像结束-->
        <!--聊天信息-->
        <div class="chat-history">
            <ul>
                <template v-for="msg in MessageList" v-if="(msg.to == chatWithNow && msg.fromMe) || (msg.toMe && msg.from == chatWithNow)" >
                    <li :class="{clearfix:msg.fromMe}">
                        <div :class="{'message-data':true,'align-right':msg.fromMe }">
                            <span class="message-data-time">{{msg.timeStamp}}</span> &nbsp; &nbsp;
                            <span class="message-data-name">{{msg.fromMe?msg.from:msg.to}}</span> <i class="fa fa-circle me"></i>

                        </div>
                        <div :class="{'message':true,'other-message':msg.fromMe,'float-right':msg.fromMe, 'my-message':msg.toMe}">
                            {{msg.content}}
                        </div>
                    </li>

                </template>

            </ul>

        </div> <!-- end chat-history -->
        <!--聊天信息结束 -->
        <div class="chat-message clearfix">
            <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="3"></textarea>

            <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
            <i class="fa fa-file-image-o"></i>

            <button>Send</button>

        </div> <!-- end chat-message -->

    </div> <!-- end chat -->
    <!-- 在线用户-->
    <div class="people-list" id="people-list">
        <div class="search">
            <input type="text" placeholder="search" />
            <i class="fa fa-search"></i>
        </div>
        <!--右侧头像组-->
        <ul class="list" id="rightfriendmarks">

            <right-friendmark v-for="item in rightFriendList"
                              :headimg="item.headImg"
                              :username="item.userName"
                              :onlinestatus="item.onlineStatus">
            </right-friendmark>

        </ul>
        <!--左侧头像组结束-->
    </div>
    <!-- 在线用户结束-->
</div> <!-- end container -->
<div>
    <div>名称:<p id="username"></p></div>
    输入房间名:
    <input type="text" value="asdasd" id="Roomname" />
    <button id="CreatRoom">创建聊天室</button>
</div>
<div style="float:left;border:double">
    <div>房间列表</div>
    <ul id="roomlist"></ul>
</div>
<div id="RoomList">
</div>
@*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700" />*@

<script src="/signalr/hubs"></script>
<script type="text/javascript">
    var chat;
    $(function () {
        chat = $.connection.ChatHub;
        chat.client.showMessage = function (Message) {

            alert(Message);
        }
        chat.client.sendMessage = function (roomname, message) {
            $("#" + roomname).find("ul").each(function () {
                $(this).append('<li>' + message + '</li>')
            })
        }
        $('#CreatRoom').on('click', function () {
            chat.server.createChat($('#Roomname').val(), '123456');
        });
        //向指定用户发送消息并创建会话
        chat.client.createChat = function(touser,message){

        }
        //邀请指定加入聊天组
        chat.client.invite = function (groupid,touser) {

        }
        chat.client.removeRoom = function (data) {
            alert(data);
        }
        chat.client.addRoom = function (roomname) {
            var html = '<div style="float:left; margin-left:30px; border:double" id="' + roomname + '" roomname="' + roomname + '"><button onclick="RemoveRoom(this)">退出</button>\
                                    ' + roomname + '房间\
                                                聊天记录如下:<ul>\
                                                </ul>\
                                    <input type="text" /> <button onclick="SendMessage(this)">发送</button>\
                                    </div>'
            $("#RoomList").append(html);
        }
        //注册查询房间列表的方法
        chat.client.getRoomlist = function (data) {
            if (data) {
                var roomlist = $.parseJSON(data);
                if (roomlist == null || roomlist.length <= 0)
                    return;
                $.each(roomlist, function (i, item) {
                    if (leftList.indexOf(item) <= 0) {
                        //把获取到的数据装载到左侧房间列表中
                        leftBookMarks.leftUserList.push(item);
                    }

                });
            }
        }
        chat.client.getFriendList = function (data) {
            if (data) {
                var friendlist = $.parseJSON(data);
                if (friendlist == null || friendlist.length <= 0)
                {
                    return;
                }
                $.each(friendlist, function (i, item) {
                    if (rightList.indexOf(item) < 0) {
                        //把获取到的数据装载到右侧好友列表中
                        rightList.push(item);
                    }
                });
            }
        }
        // 获取用户名称。
        $('#username').html(prompt('请输入您的名称:', ''));
        //加入聊天室，装载checkcode，用于登录比对
        chat.client.setCheckCode = function (checkcode) {
            localStorage.setItem('checkcode',checkcode);
        }
        $.connection.hub.start().done(function () {
            var ud =
            setInterval(function () {
                var cc = localStorage.getItem('checkcode');
                var led = localStorage.getItem('led');
                if (cc != undefined && led != undefined && led == 1) {
                    chat.server.login(localStorage.getItem('checkcode'), '第二个用户');
                    localStorage.setItem('led', 0);
                    clearInterval(ud);
                } else {
                    localStorage.setItem('led', 1);
                }
            },300);

        });

    });
    function SendMessage(btn) {
        var message = $(btn).prev().val();
        var room = $(btn).parent();
        var username = $("#username").html();
        message = username + ":" + message;
        var roomname = $(room).attr("roomname");
        chat.server.sendMessage(roomname, message);

    }
    function RemoveRoom(btn) {
        var room = $(btn).parent();
        var roomname = $(room).attr("roomname");
        chat.server.removeFromRoom(roomname);
    }
    function AddRoom(roomname) {
        var data = $(roomname).attr("roomname");
        chat.server.addToRoom(data);
    }

</script>
<!--注册vue组件-->
<script>
    Vue.component('left-bookmark', {
        // 声明 props
        props: ['headimg', 'username', 'onlinestatus'],
        // 就像 data 一样，prop 可以用在模板内
        // 同样也可以在 vm 实例中像 “this.message” 这样使用
        template: '<li class="clearfix">\
                <img :src="headimg" alt="avatar" />\
                <div class="about">\
                    <div class="name">{{username}}</div>\
                    <div class="status">\
                        <i class="fa fa-circle online"></i>{{onlinestatus}}\
                    </div></div></li>'
    })
    // 创建根实例 -- 左侧聊天窗口
    var leftBookMarks = new Vue({
        el: '#leftbookmarks',
        data: {
            leftUserList: [
                {
                    headImg: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg',
                    userName: 'Vincent Porter',
                    onlineStatus: 'Chat With Me!',
                    isGroup: false,
                    groupId: '1234567878990',
                }
            ]
        }
    });
    Vue.component('chat-message', {
        props:['fromMe','from','toMe','to','content','timeStamp'],
        template: '<li :class="{clearfix:fromMe}">\
                        <div :class="{\'message-data\':true,\'align-right\':fromMe }">\
                            <span class="message-data-time">{{timeStamp}}</span> &nbsp; &nbsp;\
                            <span class="message-data-name">{{fromMe?from:to}}</span> <i class="fa fa-circle me"></i></div>\
                        <div :class="{\'message\':true,\'other-message\':fromMe,\'float-right\':fromMe, \'my-message\':toMe}">{{content}}</div></li>'
    });
    // 聊天内容显示区域
    var chatArea = new Vue({
        el: '#chat-message',
        data: {
            chatWithNow: 'lalala',
            MessageList: [
                {
                    timeStamp: '11:11:11 PM Today',
                    from: '666666',
                    fromMe: true,
                    to: 'lalala',
                    toMe: false,
                    content: 'Are we meeting today?',
                },
                {
                    timeStamp: '10:12 AM, Today',
                    from: 'lalala',
                    fromMe: false,
                    to: '666666',
                    toMe: true,
                    content: ' Project has been already finished and I have results to show you.'
                }
            ]
        },
        computed: {
        },
        methods: {
        }
    });
    Vue.component('right-friendmark', {
        // 声明 props
        props: ['headimg', 'username', 'onlinestatus'],
        // 就像 data 一样，prop 可以用在模板内
        // 同样也可以在 vm 实例中像 “this.message” 这样使用
        template: '<li class="clearfix">\
                <img :src="headimg" alt="avatar" />\
                <div class="about">\
                    <div class="name">{{username}}</div>\
                    <div class="status">\
                        <i class="fa fa-circle online"></i>{{onlinestatus}}\
                    </div></div></li>'
    })
    // 创建根实例 -- 右侧好友列表
    var rightFriendMarks = new Vue({
        el: '#rightfriendmarks',
        data: {
            rightFriendList: [
                {
                    headImg: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg',
                    userName: 'Vincent Porter',
                    onlineStatus: 'Chat With Me!',
                    isGroup: false,
                    groupId: '1234567878990',
                },
                {
                    headImg: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg',
                    userName: 'Vincent Porter_2',
                    onlineStatus: 'Chat With Me!_2',
                    isGroup: false,
                    groupId: '1234567878990',
                }
            ]
        }
    });
    var leftList = leftBookMarks.leftUserList;
    var rightList = rightFriendMarks.rightFriendList;
    var messageList = chatArea.MessageList;
</script>

